*{
    margin: auto;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.2vw;
    letter-spacing: 2px;
}

html{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #1e9fbf;
    color: whitesmoke;
    width: 100%;
    max-height: max-content;
    min-height: 1em;
    text-transform: uppercase;
    z-index: 1;
}

.logo-section{
    width: 10%;
    margin-left: initial;
}

.logo-sec{
    margin-left: 0.8em;
    max-width: 35%;
    max-height: 100%;
}

.navigation-bar{
    width: 70%;
    flex-grow: 2%;
    margin-inline-end: initial;
}

a{
    text-decoration: none;
    color: crimson;
}

li a{
    color: gray;
    text-decoration: none;
}

header li a{
    color:whitesmoke;
    text-decoration: none;
}

ul{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link:hover{
    color: crimson;
    font-size: 20px;
}

.container{
    display: grid;
    grid-template-columns: 100%;
    padding: 0px;
    padding-top: 1em;
    width: 100%;
}

section{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5% 0;
}

section div{
    width: 50%;
    margin: 0 auto;
}

section h2{
    text-align: center;
}

.cover-section{
    margin-top: 0px;
    padding: 0% 0% 0% 0%;
}

h2{
    padding-bottom: 30px;
    padding-left: 0.5em;
    text-align: center;
    font-size: 5vw ;
    letter-spacing: 0.5em;
    
}

.title-text{
    width: 40%;
    text-align: center;
    color: black;
    margin: auto;
    padding: 0 20px;
    animation: fade-in 5s;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.box-feature{
    width: 60%;
    max-height: auto;
}

.box-feature img{
    width: 100%;
}

.box-feature .cover-image{
    animation: fade-in 5s;
}

.story-section{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(19, 18, 18);
    color: whitesmoke;
}

.section-text h2{
    text-align: center;
}

.section-text p{
    text-align: justify;
    margin: auto 2.5em;
    line-height: 1.9em;
}

.samples{
    flex-direction: column;
    text-align: center;
    background-color: #e4dcdc;
}

.featured{
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 4%;
    margin: 20px auto;
}

.work{
    width: 100%;
    color: black;
}

.work img{
    width: 300px;
    height: 300px;
    cursor: pointer;
    max-height: auto;
    border-radius: 20px;
}
.work img:hover{
    transform: translateY(-15px);
    transition: all ease 0.5s;
    opacity: 1;
}

h2{
    font-size: 3.0vw;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.contact-section{
    background: #222222;
    color: white;
}

.form-box{
    padding-top: 1em;
}

form .form-entry{
    display: block;
    padding: 0.8em 0;
}

.section-text h2{
    letter-spacing: 5px;
    padding-left: 40px;
}

form .txt-box{
    margin-top: 0.3em;
    width: 100%;
    padding-right: 0.7em 0;
    border-radius: 2px;
    border: 2px transparent;
}

form .btn{
    text-align: center;
    background-color: #e6e8e8;
    color: black;
    font-weight: 700;
    letter-spacing: inherit;
    border: 2px solid #eaeaea;
    box-shadow: 0px 0px 10px 1px #29393e;
    border-radius: 5px;
    padding: 0.5em 2em;
    font-size: 14px;
}

.btn:hover{
    cursor: pointer;
    background: rgb(32, 32, 32);
    color: aliceblue;
}

footer{
    padding-top: 5rem;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container ul{
    display: flex;
    gap: 3rem;
}

footer .container ul a{
    color: black;
    padding: 2rem;
}

footer .container ul a:hover{
    color: darkred;
}

footer .container .socials{
    display: flex;
    gap: 2rem;
}

footer .container .socials a{
    background: white;
    color: white;
    padding: 0.3rem;
    border-radius: 50%;
}

footer .container .socials a:hover{
    background: crimson;
}

footer .copyright{
    background: #1e9fbf;
    color: whitesmoke;
    text-align: center;
    margin-top: 5rem;
    padding: 0 0;
    font-size: 0.8rem;
}

@media all and (max-width: 768px){
    section div{
        width: 80%;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .story-section, .samples, .contact-section, .featured{
        display: flex;
        flex-direction: column;
    }

    .featured{
        width: 80%;
        margin: 0 auto;
    }

    .section-text h2{
        text-align: center;
    }

    .section-text p{
        text-align: justify;
        margin-right: 10%;
        margin-left: 10%;
        font-size: 2vw;
    }
}